* {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
  transition: all 0.2s ease-in-out;
}

#city-name {
  color: black;
}