/* ROOT */

* {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
  transition: all 0.2s ease-in-out;
}

#city-name {
  color: black;
}

#prior-search {
  min-height: 10em;
}

#weather-display {
  min-height: 30em;
}

#weather-today {
  min-height: 15em;
}

#today-uv {
  width: fit-content;
}

#five-day {
  min-height: 12em;
}

.weather-display {
  font-size: large;
}

/* Image positioning */
div {
  background-position: center;
}

#weather-today {
  background-size: 25%;
}

.col-2 .border .d-flex .flex-column .justify-content-between .text-center {
  background-size: 50%;
}

