* {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
  transition: all 0.2s ease-in-out;
}

#city-name {
  color: black;
}

#prior-search {
  height: 10em;
}

#weather-display {
  height: 30em;
}

#weather-today {
  height: 15em;
}

#five-day {
  height: 12em;
}